*.o
*.lo
.deps/
.libs/
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
config.log
config.status
config/
configure
.deps/
libnbcompat.la
libtool
m4/libtool.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4
nbcompat/nbconfig.h
nbcompat/nbconfig.h.in
nbcompat/stamp-h1
rmd160-test
rmd160-test.log
rmd160-test.trs
sha1-test
sha1-test.log
sha1-test.trs
sha2-test
sha2-test.log
sha2-test.trs
test-suite.log
